In [12]:
import pandas as pd
import numpy as np

In [13]:
raw_cl = pd.read_csv('crime_landUse_MAN.csv')
raw_cl

,CrimeType,DayofWeek,TimeRange,Time,Day,Lot,LandUseID,LandUse,CrimeTypeID
0,ASSAULT,Sunday,20-21,20,1,33,4,Mixed Residential & Commercial Buildings,3
1,LARCENY,Monday,17-18,17,2,21,2,Multi-Family Walk-Up Buildings,1
2,LARCENY,Friday,23-24,23,6,29,8,Public Facilities & Institutions,1
3,LARCENY,Tuesday,18-19,18,3,36,5,Commercial & Office Buildings,1
4,HARASSMENT,Thursday,19-20,19,5,29,8,Public Facilities & Institutions,2
...,...,...,...,...,...,...,...,...,...
201570,LARCENY,Friday,17-18,17,6,62,4,Mixed Residential & Commercial Buildings,1
201571,LARCENY,Sunday,10-11,10,1,7,4,Mixed Residential & Commercial Buildings,1
201572,LARCENY,Friday,20-21,20,6,52,2,Multi-Family Walk-Up Buildings,1
201573,LARCENY,Sunday,20-21,20,1,1,9,Open Space and Outdoor Recreation,1
201574,LARCENY,Saturday,13-14,13,7,16,2,Multi-Family Walk-Up Buildings,1

In [14]:
from sklearn import preprocessing
#label = preprocessing.LabelEncoder()
#crime = label.fit_transform(raw_cl.CrimeType)
days = pd.get_dummies(raw_cl.DayofWeek)
landuses = pd.get_dummies(raw_cl.LandUseID)
times = pd.get_dummies(raw_cl.Time)
cl=pd.concat([landuses,times,raw_cl.CrimeTypeID],axis=1)
#cl['crime']=crime

In [15]:
from sklearn.model_selection import train_test_split
training,test=train_test_split(cl,train_size=0.8,random_state=42)

In [16]:
larceny = training.CrimeTypeID == 1
la = training[larceny]
la

,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,CrimeTypeID
155239,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
125896,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
92378,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
66824,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
156043,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110268,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
103694,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
131932,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
146867,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
121958,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [17]:
remove = training[training.CrimeTypeID == 1].sample(67000,random_state=42)
new_training = training[~training.index.isin(remove.index)]
#remove1 = new_training1[new_training1.crime == 1].sample(3064,random_state=42)
#new_training2 = new_training1[~new_training1.index.isin(remove1.index)]
#remove2=new_training2[new_training2.crime == 0].sample(736,random_state=42)
#new_training = new_training2[~new_training2.index.isin(remove2.index)]

In [18]:
larceny = new_training.CrimeTypeID== 1
la = new_training[larceny]
la

,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,CrimeTypeID
92378,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
171485,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
194658,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
138845,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
91132,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194027,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
16023,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
110268,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
131932,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
146867,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [19]:
harassment = new_training.CrimeTypeID== 2
ha = new_training[harassment]
ha

,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,CrimeTypeID
45847,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2
40419,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
31148,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
156531,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,2
36053,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59735,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,2
175203,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,2
126324,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2
112727,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
119879,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2

In [20]:
assault = new_training.CrimeTypeID== 3
aa = new_training[assault]
aa

,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,CrimeTypeID
35829,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
130760,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
93341,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
173119,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,3
152519,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84654,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,3
130523,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
84478,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
5311,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
87498,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

In [21]:
train,validation=train_test_split(new_training,train_size=0.8,random_state=42)

In [22]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import log_loss
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
feature_list = train.columns.tolist()
feature_list = feature_list[:len(feature_list) - 1]

In [23]:
from sklearn.ensemble import RandomForestClassifier  
model_RF = RandomForestClassifier()  
model_RF.fit(train[feature_list], train.CrimeTypeID)
pred_RF_value = np.array(model_RF.predict(test[feature_list]))
predicted_RF = np.array(model_RF.predict_proba(test[feature_list]))
log_loss(test.CrimeTypeID, predicted_RF),confusion_matrix(test.CrimeTypeID,pred_RF_value),f1_score(test.CrimeTypeID,pred_RF_value,average="weighted")

C:\Users\volca\.conda\envs\GEO503\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

(1.016447210019767, array([[14074,  6401,  4796],
        [ 2847,  3240,  1592],
        [ 2194,  2201,  2970]], dtype=int64), 0.5256367599673617)

In [35]:
from bayes_opt import BayesianOptimization
from sklearn.model_selection import cross_val_score

In [42]:
def rf_cv(n_estimators, min_samples_split, max_features, max_depth):
    val = cross_val_score(
        RandomForestClassifier(n_estimators=int(n_estimators),
            min_samples_split=int(min_samples_split),
            max_features=min(max_features, 0.999), # float
            max_depth=int(max_depth),
            random_state=42
        ),
        validation[feature_list], validation.CrimeTypeID, scoring='f1_weighted', cv=5
    ).mean()
    return val

In [45]:
 rf_bo = BayesianOptimization(
        rf_cv,
        {'n_estimators': (10, 500),
        'min_samples_split': (2, 25),
        'max_features': (3, 37),
        'max_depth': (10, 100)}
    )

In [46]:
rf_bo.maximize(n_iter=10)

|   iter    |  target   | max_depth | max_fe... | min_sa... | n_esti... |
-------------------------------------------------------------------------
|  1        |  0.4626   |  16.27    |  22.78    |  19.54    |  300.8    |
|  2        |  0.4588   |  40.34    |  10.43    |  18.55    |  213.2    |
|  3        |  0.4603   |  29.62    |  21.68    |  24.75    |  355.0    |
|  4        |  0.4592   |  99.54    |  4.63     |  6.694    |  428.4    |
|  5        |  0.4591   |  69.49    |  22.37    |  12.94    |  366.9    |
|  6        |  0.4505   |  10.11    |  3.27     |  4.742    |  499.7    |
|  7        |  0.4524   |  10.62    |  35.83    |  18.67    |  10.93    |
|  8        |  0.4548   |  11.03    |  36.86    |  2.125    |  242.6    |
|  9        |  0.4589   |  99.2     |  36.68    |  24.84    |  215.8    |
|  10       |  0.4598   |  98.4     |  31.87    |  24.31    |  495.1    |
|  11       |  0.4593   |  94.36    |  5.271    |  24.97    |  379.8    |
|  12       |  0.4591   |  96.16    |  36.25    |  24.78    |  350.7    |
|  13       |  0.4552   |  11.4     |  5.866    |  24.75    |  203.5    |
|  14       |  0.4565   |  98.11    |  6.165    |  5.719    |  10.49    |
|  15       |  0.4597   |  95.96    |  34.89    |  24.49    |  14.05    |
=========================================================================